body {
  background: #fbfbfb;
}

main {
  margin: auto 25%;
  display: flex;
}

.signInBox {
  position: relative;
  background: white;
  width: 300px;
  margin: 50px;
  padding: 15px;
  border: 1px solid rgb(140, 140, 140);
  text-align: center;
}

.title img{
  position: relative;
  width: 60%;
  margin: 5px;
}

.subTitle {
  position: relative;
  color: grey;
  font-size: 17px;
}

.blueButton {
  position: relative;
  background-color: #3897f0;
  color: white;
  border-radius: 5px;
  padding: 0 12px;
}

.orSeparator {
  position: relative;
  color: grey;
}

.orSeparator::before, .orSeparator::after {
  content: '------';
}


.inputBoxes {
  position: relative;
}

.inputBoxes input{
  background-color: #fbfbfb;
  margin: 7px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 90%;
  padding: 8px;
}

.termsAndCon {
  position: relative;
  color: grey;
}




.AppButtons {
  position: relative;
  text-align: center;
  width: 300px;
  margin: 50px;
  padding: 15px;
}




.footerMenu {

}


.footerMenu ul{
  list-style-type: none;
}

.footerMenu li{
  display: inline;
  margin: 0px 5px;
}

.footerMenu li a{
  color: #003569;
  text-decoration: none;
  text-transform: uppercase;
}

.copyright {
  color: #999;
  text-transform: uppercase;
  display: relative;
}
